@import "../../variables";

.PhaseWithSingleColumn {
  height: 100%;

  .phase-header {
    height: $phase-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $phase-separator-color;

    .alignment-wrapper {
      text-align: center;
    }
  }
}
