// Dimensions
$phase-header-height: 100px;
$column-header-height: 30px;
$board-min-width: 1270px;

// Colors
$board-border-color: black;
$phase-separator-color: black;
$column-separator-color: lighten($phase-separator-color, 50%);

$analysis-phase-point-bg-color: #ff9b9b;
$analysis-phase-point-bg-color-odd: #ffaaaa;

$development-phase-point-bg-color: #c5c5ff;
$development-phase-point-bg-color-odd: #d5d5ff;

$test-phase-point-bg-color: #c5ffc5;
$test-phase-point-bg-color-odd: #d7ffd7;

$card-title-bg-color: #bc6b34;
$card-info-bg-color: #c4752e;
$card-text-color: #ffffff;
