.card-info {
  &.normal, &.medium {
    .card-info-item {
      width: 33%;
    }
  }
  .card-info-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    span {
      font-size: 0.55em;
      font-weight: 600;
    }
    .info-oval {
      margin: 0 auto 10px auto;
      background-color: #ffffff;
      width: 60%;
      border-radius: 100px / 50px;
      span {
        color: #000000;
        display: block;
        width: 10px;
        margin: 0px auto;
        font-size: 1em;
        font-weight: 600;
      }
    }
  }
}

