@import "../../variables";

.Column {
  height: 100%;

  .column-header {
    height: $column-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $phase-separator-color;
  }
}
