@import "../../variables";

.card {
  height: auto;
  width: 94%;
  margin: 3%;
  display: inline-block;
  border-radius: 20px !important;
  transition: all ease-in-out 1s;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
  .card-title {
    color: $card-text-color;
    background-color: $card-title-bg-color;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    span {
      margin: 5px 10px;
      &.order-number {
        font-size: 1.5em;
        font-weight: 700;
      }
      &.value {
        margin-top: 8px;
        font-size: 1.2em;
        font-weight: 500;
      }
    }
  }
  .card-info {
    position: relative;
    color: $card-text-color;
    background-color: $card-info-bg-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .special-char {
      position: relative;
      left: -2%;
      font-size: 1em;
      font-weight: 600;
      display: inline-block;
      width: 0%;
    }
  }
}

