@import "../../variables";

.board {
  flex: 1;
  border: 5px outset $board-border-color;
  border-radius: 5px;
  min-width: $board-min-width;
  background-color: #E8E8E8;
  box-shadow: 5px 5px 5px #888888;

  .phase-row {
    height: 100%;
    margin: 0;
  }
}
