@import "../../variables";

.cfd {
  height: 60%;
  width: 50%;
  min-width: 380px;
  position: fixed;
  background-color: $minor-color;
  z-index: 1;
  bottom: 7%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  h2 {
    flex: 0 1 28%;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 3px 3px gray;
    display: inline-block;
    vertical-align: top
  }
  > div {
    background-color: $cfd-background-color;
  }
  &.visible {
    opacity: 0.3;
    &:hover, &.ended {
      opacity: 1;
    }
  }
  &.hidden {
    width: 25%;
    height: 60px;
    bottom: 0%;
    > div {
      display: none;
    }
    button {
      flex: 0 1 10%;
      transition: none !important;
    }
  }
}
