@import "../../variables";

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $background-color;
  h1 {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 3em;
    text-shadow: 3px 3px gray;
  }
  form {
    background-color: $minor-color;
    padding: 30px;
  }
}
